body{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    color: white;
}

.landingPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    height: 100vh;
    
   
}

.greet{
    display: flex;

}

#numbers{
    font-size: 3.5rem;
    font-family: fantasy;
    letter-spacing: 5px;
}
#userName,#greetings{

    font-size: 2.8rem;
}

